/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-family-sans-serif: 'Montserrat', sans-serif;

$font-family-monospace: 'Source Code Pro', monospace;


/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'League Spartan', sans-serif;
}


.long-url {
  word-wrap: break-word;
}

span.long-url a {
  word-wrap: break-word;
}

section#footnotes a.uri {
  word-wrap: break-word;
}

#refs a {
  word-wrap: break-word;
}

// una classe per nascondere l'head delle tabelle
.no-head table thead {
  display: none;
}

// testo rosso per blocco requisiti
.testo-rosso {
  color: #ff0000;
}

// testo blu per blocco raccomandazioni
.testo-blu {
  color: #003399;
}

/* Applica l'offset direttamente agli ancoraggi specifici */
[id^="req-"], [id^="racc-"], [id^="res-"] {
  scroll-margin-top: 60px !important; /* Offset verticale */
}

// per nascondere l'header del call-out requisito
div.requisito div.callout-header {
  display: none !important;
}

// per nascondere l'header del call-out risorse
div.risorsa div.callout-header {
  display: none !important;
}

// per nascondere l'header del call-out raccomandazione
div.raccomandazione div.callout-header {
  display: none !important;
}

// per formattare la tabella dei formati del capitolo 4
.formati table tbody tr:nth-child(-n+4) {
  background-color: #cef67c;
}

.formati table tbody tr:nth-child(n+5):nth-child(-n+9) {
  background-color: #ffffe3;
}

.formati table tbody tr:nth-child(n+10):nth-child(-n+17) {
  background-color: #ff9f8d;
}

section#footnotes {
  font-size: 80% !important;
}

.highlighted {
  background-color: yellow;
}

.highlighted::before {
  content: '';
  display: block;
  height: 50px;
  /* Altezza dello spazio extra */
  margin-top: -50px;
  /* Sposta lo spazio extra verso l'alto, fuori dalla visualizzazione normale */
  visibility: hidden;
  /* Nasconde lo spazio extra, in modo che non influenzi visivamente */
}

.dati-elevato-valore {
  font-size: 80%;
}

.link-req {
  text-decoration: none;
}


.content-block {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}


@media(min-width: 900px) {
.content-block {
  margin-left: 50px;
  margin-right: 50px;
}
}

@media (min-width: 1200px) {
.content-block {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
}


/*tabelle*/

#buone_pratiche th, #buone_pratiche td {
  /*border: 1px solid rgb(122, 122, 122) !important;*/
  padding: 10px;
  text-align: center;
  font-size: 80% !important;
}

#buone_pratiche tr:first-child [data-quarto-table-cell-role="th"],
#buone_pratiche td[data-quarto-table-cell-role="th"] {
  font-weight: bold;
}

#buone_pratiche .green { background-color: #c1ffd7; }
#buone_pratiche .yellow { background-color: #fff1c5; }
#buone_pratiche .red { background-color: #e57373; }


#buone_pratiche .thumbs-up::before { content: '👍';
display: block; }
#buone_pratiche .thumbs-down::before { content: '👎';
display: block; }
#buone_pratiche .warning::before { content: '⚠️';
display: block; }

#matrice_compatibilita th, #matrice_compatibilita td {
  /*border: 1px solid rgb(122, 122, 122) !important;*/
  padding: 10px;
  text-align: center;
  font-size: 80% !important;
}

#matrice_compatibilita tr:first-child [data-quarto-table-cell-role="th"],
#matrice_compatibilita td[data-quarto-table-cell-role="th"] {
  font-weight: bold;
}

#matrice_compatibilita .green { background-color: #c1ffd7; }
#matrice_compatibilita .red { background-color: #e57373; }
#matrice_compatibilita .yellow { background-color: #fff1c5; }

#matrice_compatibilita .thumbs-up::before { content: '👍';
display: block; }
#matrice_compatibilita .thumbs-down::before { content: '👎';
display: block; }
#matrice_compatibilita .warning::before { content: '⚠️';
display: block; }

.legenda_licenze table tbody tr td:first-child {
  text-align: center !important; /* Centra il contenuto orizzontalmente */
  vertical-align: middle; /* Centra il contenuto verticalmente */
}

.legenda_licenze table tbody tr:first-child td:first-child {
  background-color: #c1ffd7; /* Sfondo verde chiaro */
}

.legenda_licenze table tbody tr:first-child td:first-child::before {
  content: "👍"; /* Aggiunge il simbolo del pollice in su */
  display: block;
  /*font-size: 1.5em; Dimensione del simbolo */
}

.legenda_licenze table tbody tr:nth-child(2) td:first-child {
  background-color: #e57373; /* Sfondo rosso chiaro */
}

.legenda_licenze table tbody tr:nth-child(2) td:first-child::before {
  content: "👎"; /* Aggiunge il simbolo del pollice in giù */
  display: block;
  /*font-size: 1.5em; Dimensione del simbolo */
}

.legenda_licenze table tbody tr:nth-child(3) td:first-child {
  background-color: #fff1c5; /* Sfondo giallo chiaro */
}

.legenda_licenze table tbody tr:nth-child(3) td:first-child::before {
  content: "⚠️"; /* Aggiunge il simbolo di avviso */
  display: block;
  /*font-size: 1.5em;  Dimensione del simbolo */
}


/*ndr call-out*/

.ndr {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: .25rem;
  border-left: solid #acacac .3rem;
  border-right: solid 0.5px silver;
  border-top: solid 0.5px silver;
  border-bottom: solid 0.5px silver;
  border-left-color: #9834eb !important;
}

.ndr-icon {
  height: 0.9rem;
  width: 0.9rem;
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-size: 0.9rem 0.9rem;
  margin-top: .5rem;
  padding-right: 1.25rem;
  background-image: url('immagini/editorial-notes-icon.svg');
}

.ndr-header {
  //margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: none;
  font-weight: 600;
  opacity: 85%;
  font-size: 0.9rem;
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: flex;
  background-color: #f5e8ff;
  height: 2em;
  overflow: hidden;
}

.ndr-header p {
  padding-top: 0.2em;
}

.ndr-body {
  font-size: 0.9rem;
  font-weight: 400;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.ndr-body > :last-child {
  padding-bottom: 0.5rem;
  margin-bottom: 0;
}

/*note aside*/
span.margin-aside {
  background-color: #f8f9fa;
  padding: 5px;
}


/*nota footer*/
.nota_generale {
  font-size: 0.9em;
  background-color: #f5f5f5;
  border-top: 1px solid #e0e0e0;
  padding: 15px;
  color: #666;
}
